@media screen and (max-width: 941px) {
    .main-txt {
        left: 17px;
        font-size: 90px;
    }
}

@media screen and (max-width: 890px) {
    body {
        margin: 0;
        padding: 0;
    }
    .main-txt {
        left: 10px;
        top: 400px;
        font-size: 100px;
        text-align: center;
    }
    .nav {
        position: relative;
    }
    .bg-nav {
        width: 10vw;
        height: 54vh;
        position: absolute;
        z-index: 1;
        transform: rotate(-90deg);
        top: -45.5vw;
        left: 40vw;
        box-sizing: border-box;
    }
    .home-btn {
        z-index: 1;
        position: absolute;
        top: 21px;
        left: 20vw;
        width: 10vw;
        height: 8vw;
    }
    .info-btn {
        z-index: 1;
        position: absolute;
        top: 21px;
        left: 43vw;
        width: 10vw;
        height: 8vw;
    }
    .download-btn {
        z-index: 1;
        position: absolute;
        top: 21px;
        left: 67vw;
        width: 10vw;
        height: 8vw;
    }
    @media screen and (max-width: 760px) {
        .nav-btn {
            position: absolute;
            top: 8.5vw;
        }
        .main-txt {
            left: -7px;
        }
    }
    @media screen and (max-width: 480px) {
        .bg-nav {
            top: -96.5vw;
        }
        .nav-btn {
            position: absolute;
            top: -8.5vw;
            left: 2vw;
        }
        .main-txt {
            font-size: 70px;
            left: -7px;
        }
    }
    @media screen and (max-width: 320px) {
        .bg-nav {
            top: -96.5vw;
        }
        .nav-btn {
            position: absolute;
            top: -8.5vw;
            left: 2vw;
        }
        .main-txt {
            font-size: 60px;
            left: -7px;
        }
    }
}